{% extends 'base.html' %}

{% load staticfiles i18n %}

{% block head %}
    <link href="{% static 'css/signup.css' %}" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">

    <!-- Website CSS style -->
    <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    <!-- Website Font style -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">

    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
{% endblock head %}

{% block body %}

    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <div class="panel-title text-center">
                    <h1 class="logo"><a href="{% url 'home' %}">T3nancik</a></h1>
                </div>
            </div>
            <form action="{% url 'signup' %}" method="post" role="form">
                <div class="main-login main-center">
                    {% csrf_token %}
                    {% for field in form.visible_fields %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            <label for="{{ field.label }}">{{ field.label }}</label>
                            <div class="cols-sm-10">
                                <div class="input-group">
                                    {% if field.name == 'username' %}
                                        <span class="input-group-addon"><i class="fa fa-user fa" aria-hidden="true"></i></span>
                                    {% elif field.name == 'email' %}
                                        <span class="input-group-addon"><i class="fa fa-envelope fa"
                                                                           aria-hidden="true"></i></span>
                                    {% else %}
                                        <span class="input-group-addon"><i class="fa fa-lock fa-lg"
                                                                           aria-hidden="true"></i></span>
                                    {% endif %}
                                    {{ field }}
                                </div>
                            </div>
                            {% for error in field.errors %}
                                <label class="control-label">{{ error }}</label>
                            {% endfor %}
                        </div>
                    {% endfor %}
                    <p>
                        <button type="submit" class="btn btn-primary btn-block">{% trans 'Create an account' %}</button>
                    </p>
                    <p><a href="{% url 'home' %}"
                          class="btn btn-warning btn-block">{% trans 'Back to Login' %}</a></p>
                </div>
            </form>

{% endblock body %}