.articles article {
  padding-bottom: 1.4em;
  border-bottom: 1px solid #eeeeee;
  margin-top: 2.4em;
}

.articles article p {
  font-size: 1.2em;
}

.articles article:last-child {
  border-bottom: none;
}

.info {
  margin-bottom: .5em;
  color: #a0a0a0;
}

.info a {
  color: #a0a0a0;
}

.info > span {
  margin-right: 1em;
}

.info .user img {
  width: 20px;
  border-radius: 3px;
}

article .tags {
  font-size: 1em;
}

.popular-tags h4 {
  margin-top: 2em;
}

.popular-tags .label {
  margin-top: .4em;
  font-size: .8em;
  line-height: 2;
}

.popular-tags a:hover, .tags a:hover {
  text-decoration: none;
}

.user-portrait img {
  border-radius: 4px;
  width: 34px;
}

.user-portrait {
  width: 40px;
  float: left;
}

.comment-input {
  float: left;
  width: -moz-calc(100% - 40px);
  width: -webkit-calc(100% - 40px);
  width: calc(100% - 40px);
}

.post-comment {
  margin-bottom: 1em;
}

.comment-portrait {
  width: 40px; 
  border-radius: 5px; 
  float: left;
}

.comment-text {
  margin-left: 50px;
}

.comment-text h5 {
  padding-top: .1em;
  margin: .2em 0;
}

.comment-text h5 small {
  margin-left: .6em;
}

.comment-text p {
  margin: 0;
  font-size: .9em;
}

.comment {
  border-bottom: 1px solid #e3e3e3;
  padding: .8em 0;
}

.comment:last-child {
  border-bottom: none;
}


div.img {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 180px;
}

div.img:hover {
    border: 1px solid #777;
}

div.img img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

.gallery
{
    display: block;
}

.wrapper-1
{
    clear: both;
    padding-top: 20px;
}
.buttons
{
    margin-top: 10px;
    margin-right: 10px;
    float: right;
}