{% extends 'messenger/base_messages.html' %}
{% load staticfiles %}
{% load i18n %}
{% load feeds_extras %}s
{% block title %}{% trans 'New message' %}{% endblock %}

{% block page_header %}{% trans 'New message' %}{% endblock %}

{% block container %}

<ul class="messages">
  {% for message in messages %}
    {% get_twitter_bootstrap_alert_msg_css_name message.tags as alert_tag %}
    <li class="alert alert-{{ alert_tag }}" style="list-style: none">{{ message }}</li>
  {% endfor %}
</ul>
  <form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="form-group">
      <label for="to" class="col-sm-1 control-label">To</label>
      <div class="col-sm-11">
        <input class="form-control typeahead" type="text" id="to" name="to">
      </div>
    </div>
    <div class="form-group">
      <label for="to" class="col-sm-1 control-label">Message</label>
      <div class="col-sm-11">
        <textarea class="form-control" id="message" name="message" placeholder="Write a message" rows="4"></textarea>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-11 col-sm-offset-1">
        <button type="submit" class="btn btn-primary">Send</button>
      </div>
    </div>
  </form>
  <script src="{% static 'js/messages.typehead.js' %}"></script>
{% endblock container %}