{% load i18n %}

<h2>{% trans 'Announcement' %}</h2>
{% if results %}
  <ul class="articles-results">
    {% for announcement in results %}
      <li article-slug="{{ announcement.slug }}">
        <h4><a href="{% url 'announcement' announcement.slug %}">{{ announcement.title }}</a></h4>
        <div class="info">
          <span class="date">
            <span class="glyphicon glyphicon-calendar"></span>
            {{ announcement.create_date }}
          </span>
          <span class="user">
            <a href="{% url 'profile' announcement.create_user.username %}"><img src="{{ announcement.create_user.profile.get_picture }}"></a>
            <a href="{% url 'profile' announcement.create_user.username %}">{{ announcement.create_user.profile.get_screen_name }}</a>
          </span>
        </div>
        <div class="article-content">{{ announcement.get_summary_as_markdown|safe }}</div>
      </li>
    {% endfor %}
  </ul>
{% else %}
  <h4 class="no-result">{% trans 'No announcement found' %} :(</h4>
{% endif %}