{% load i18n %}

<div class="list-group">
  <a href="{% url 'search' %}?q={{ querystring }}&type=feed" class="list-group-item{% if active == 'feed' %} active{% endif %}">
    <span>{% trans 'Feed' %}</span>
    <span class="badge">{{ count.feed }}</span>
  </a>
  <a href="{% url 'search' %}?q={{ querystring }}&type=announcement" class="list-group-item{% if active == 'announcements' %} active{% endif %}">
    <span>{% trans 'Announcements' %}</span>
    <span class="badge">{{ count.announcement }}</span>
  </a>
  <a href="{% url 'search' %}?q={{ querystring }}&type=questions" class="list-group-item{% if active == 'questions' %} active{% endif %}">
    <span>{% trans 'Questions' %}</span>
    <span class="badge">{{ count.questions }}</span>
  </a>
  <a href="{% url 'search' %}?q={{ querystring }}&type=users" class="list-group-item{% if active == 'users' %} active{% endif %}">
    <span>{% trans 'Users' %}</span>
    <span class="badge">{{ count.users }}</span>
  </a>
</div>