{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% load humanize %}

{% block title %} Search {% endblock %}

{% block head %}
  <link href="{% static 'css/search.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <div class="page-header">
    <h1>Search</h1>
  </div>

  <div class="row" style="padding-top: 4em; padding-bottom: 8em;">
    <div class="col-md-8 col-md-offset-2">
      <h3>{% trans "Search Feed, Announcement, Questions and Users" %}</h3>
      <form role="search" action="{% url 'search' %}" style="padding-top: 1em;">
        <div class="input-group">
          <input type="text" class="form-control input-lg" name="q" placeholder="{% trans 'Search' %}">
          <span class="input-group-btn">
            <button type="submit" class="btn btn-default btn-lg"><span class="glyphicon glyphicon-search"></span></button>
          </span>
        </div>
      </form>
    </div>
  </div>
{% endblock main %}