{% extends "registration/base_registration.html" %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}
  <h1>Zapomniałeś hasła?</h1>
  <p>Podaj adres e-mail, aby zdefiniować nowe hasło.</p>
  <form action="." method="post">
    {{ form.as_p }}
    <p><input type="submit" value="Wyślij e-mail"></p>
    {% csrf_token %}
  </form>
{% endblock %}
