{% extends "registration/base_registration.html" %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}
  <h1>Zerowanie hasła</h1>
  <p>Wysłaliśmy Ci wiadomość e-mail wraz z instrukcjami pozwalającymi na zdefiniowanie nowego hasła.</p>
  <p>Jeżeli nie otrzymałeś tej wiadomości to upewnij się, że w formularzu zerowania hasła wpisałeś adres e-mail podany podczas zakładania konta użytkownika.</p>
{% endblock %}
