{% extends "registration/base_registration.html" %}

{% block title %}Zerowanie hasła{% endblock %}

{% block content %}
  <h1>Zerowanie hasła</h1>
  <p>Hasło zostało zdefiniowane. Możesz się już <a href="{% url "login" %}">zalogować</a>.</p>
{% endblock %}
