{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <link href="{% static 'css/cover.css' %}" rel="stylesheet">
{% endblock head %}

{% block body %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

    <div id="login-overlay" class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
{#                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span><span#}
{#                        class="sr-only">Close</span></button>#}
                <h1 class="logo">T3nancik</h1>
                {% if form.non_field_errors %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
                            {{ error }}
                        </div>
                    {% endfor %}
                {% endif %}

            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-xs-6">
                        <div class="well">
                            <form method="post" action="{% url 'login' %}" role="form">
                                {% csrf_token %}
                                <div class="form-group{% if form.username.errors %} has-error{% endif %}">
                                    <label for="username">{% trans 'Username' %}</label>
                                    <input type="text" class="form-control" id="username" name="username">
                                    {% for error in form.username.errors %}
                                        <label class="control-label">{{ error }}</label>
                                    {% endfor %}
                                </div>
                                <div class="form-group{% if form.password.errors %} has-error{% endif %}">
                                    <label for="password">{% trans 'Password' %}</label>
                                    <input type="password" class="form-control" id="password" name="password">
                                    {% for error in form.password.errors %}
                                        <label class="control-label">{{ error }}</label>
                                    {% endfor %}
                                </div>
                                <div class="form-group">
                                    <button type="submit" class="btn btn-success btn-block">{% trans 'Login' %}</button>
                                    </br><a href="{% url 'social:begin' 'facebook' %}" class="btn btn-block btn-social btn btn-info">
                                        <span class="fa fa-facebook"></span> {% trans 'Sign in with Facebook' %}
                                    </a>
                                    <a href="{% url "social:begin" "google-oauth2" %}" class="btn btn-block btn-social btn btn-danger">
                                        <span class="fa fa-google"></span> {% trans 'Sign in with Google' %}
                                    </a>
                                    </br>
                                    <center><a href="{% url 'password_reset' %}"
                                               class="btn btn-link">{% trans 'Forgot your password?' %}</a></center>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="col-xs-6">
                        <p class="lead">{% trans 'Register now for' %}<span
                                class="text-success">{% trans ' FREE' %}</span></p>
                        <ul class="list-unstyled" style="line-height: 2">
                            <li><span class="fa fa-check text-success"></span> {% trans 'See all your announcements' %}
                            </li>
                            <li><span class="fa fa-check text-success"></span> {% trans 'Find new flatmate' %}</li>
                            <li><span class="fa fa-check text-success"></span> {% trans 'Save your favorites' %}</li>
                            <li><span
                                    class="fa fa-check text-success"></span> {% trans 'Find your best place to live' %}"
                            </li>
                            <li><span class="fa fa-check text-success"></span> {% trans 'Be happy to use ' %} <span
                                    class="text-success"><strong>T3nancik</strong></span></li>
                        </ul>
                        <p><a href="{% url 'signup' %}"
                              class="btn btn-info btn-block">{% trans 'Yes please, register now!' %}</a></p>
                         <p><a href="{% url 'announcement' %}"
                              class="btn btn-warning btn-block">{% trans 'Skip register' %}</a></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
