{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}


{% block title %}{{ page_user.profile.get_screen_name }}{% endblock %}

{% block head %}
    <link href="{% static 'css/profile.css' %}" rel="stylesheet">
    <link href="{% static 'css/feeds.css' %}" rel="stylesheet">
    <script src="{% static 'js/jquery.bullseye-1.0-min.js' %}"></script>
    <script src="{% static 'js/feeds.js' %}"></script>
{% endblock head %}

{% block main %}
    <div class="page-header">
        <h1>{{ page_user.profile.get_screen_name }} {% if page_user.get_full_name %}
            <small>({{ page_user.username }})</small>{% endif %}</h1>
    </div>

    <div class="profile">
        <div class="row">
            <div class="col-md-4 user-profile">
                <img src="{{ page_user.profile.get_picture }}" class="picture">
                <ul>
                    {% if page_user.profile.birth_date %}
                        <li><span class="glyphicon glyphicon-calendar"></span> {{ page_user.profile.birth_date }}</li>
                    {% endif %}
                    {% if page_user.profile.location %}
                        <li><span class="glyphicon glyphicon-map-marker"></span> {{ page_user.profile.location }}</li>
                    {% endif %}
                    {% if page_user.profile.url %}
                        <li><span class="glyphicon glyphicon-globe"></span> <a href="{{ page_user.profile.get_url }}"
                                                                               target="_blank">{{ page_user.profile.get_url }}</a>
                        </li>
                    {% endif %}
                </ul>
            <div class="container">

		<div class="row">
			<div class="col-md-4">
				<div class="rating-block">
					<h4>Average user rating</h4>
					<h2 class="bold padding-bottom-7">4.3 <small>/ 5</small></h2 class="bold padding-bottom-7">
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-warning btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
					<button type="button" class="btn btn-default btn-grey btn-sm" aria-label="Left Align">
					  <span class="glyphicon glyphicon-star" aria-hidden="true"></span>
					</button>
				</div>
			</div>
		</div>
                <div class="row">
                    <div class="col-md-4">
				<h4>Rating breakdown</h4>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">5 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="5" aria-valuemin="0" aria-valuemax="5" style="width: 1000%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">1</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">4 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="4" aria-valuemin="0" aria-valuemax="5" style="width: 80%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">1</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">3 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-info" role="progressbar" aria-valuenow="3" aria-valuemin="0" aria-valuemax="5" style="width: 60%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">2 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-warning" role="progressbar" aria-valuenow="2" aria-valuemin="0" aria-valuemax="5" style="width: 40%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
				<div class="pull-left">
					<div class="pull-left" style="width:35px; line-height:1;">
						<div style="height:9px; margin:5px 0;">1 <span class="glyphicon glyphicon-star"></span></div>
					</div>
					<div class="pull-left" style="width:180px;">
						<div class="progress" style="height:9px; margin:8px 0;">
						  <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="1" aria-valuemin="0" aria-valuemax="5" style="width: 20%">
							<span class="sr-only">80% Complete (danger)</span>
						  </div>
						</div>
					</div>
					<div class="pull-right" style="margin-left:10px;">0</div>
				</div>
			</div>
                </div>

    </div> <!-- /container -->
            </div>
            <div class="col-md-8">
                <h4>{% trans 'Last Feeds by' %} {{ page_user.profile.get_screen_name }}</h4>
                <div class="stream-update">
                    <a href="#"><span class="new-posts"></span> new posts</a>
                </div>
                <ul class="stream">
                    {% for feed in feeds %}
                        {% include 'feeds/partial_feed.html' with feed=feed %}
                    {% endfor %}
                </ul>
                <div class="load">
                    <img src="{% static '/img/loading.gif' %}">
                </div>
                <form method="get" action="{% url 'load' %}" id="load_feed" autocomplete="off">
                    <input type="hidden" name="feed_source" id="feed_source" value="{{ page_user.pk }}">
                    <input type="hidden" name="from_feed" value="{{ from_feed }}">
                    <input type="hidden" name="page" value="{{ page }}">
                </form>
            </div>
        </div>
    </div>
{% endblock main %}

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="js/ie10-viewport-bug-workaround.js"></script>