{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %}{{ announcement.title }}{% endblock %}

{% block head %}
    <link href="{% static 'css/announcement.css' %}" rel="stylesheet">
      <link href="{% static 'css/ribbon.css' %}" rel="stylesheet">
    <script src="{% static 'js/announcement.js' %}"></script>
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css"
          media="screen">
    <script src="{% static 'js/jquery.fancybox.min.js' %}"></script>
{% endblock head %}

{% block main %}

    <ol class="breadcrumb">

        <li><a href="{% url 'announcement' %}">{% trans 'Announcement' %}</a></li>
        <li class="active">{% trans 'Announcements' %}</li>
    </ol>
    {% if announcement.create_user_id ==  user.id %}
        <div class="buttons">
        <a href="{% url 'edit_announcement' announcement.pk %}" style="margin-left: 20px"
           class="btn btn-primary pull-right">
            <span class="glyphicon glyphicon-pencil"></span> {% trans 'Edit' %}</a>
        </a>
        <button type="button" class="btn btn-primary  pull-right" data-toggle="modal" data-target="#myModal">
            <span><span class="glyphicon glyphicon-remove-sign"></span> {% trans 'Remove' %}</span>
        </button>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                                aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">{% trans 'Delete announcement' %}</h4>
                    </div>
                    <div class="modal-body">
                        <form action="" method="post">{% csrf_token %}
                            <p>Are you sure you want to delete "{{ announcement }}"?</p>
                            <input type="submit" value="Confirm" class="btn btn-danger  pull-right"/>

                            </br></br>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    {% endif %}


    {% include 'announcement/partial_announcement.html' with announcement=announcement %}
    {% include 'announcement/partial_announcement_utilities.html' with utilities=utilities %}
    {% include 'announcement/partial_announcement_comments.html' with announcement=announcement %}



{% endblock main %}
