{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block title %} {% trans 'Announcements' %} {% endblock %}

{% block head %}
  <link href="{% static 'css/announcement.css' %}" rel="stylesheet">
  <link href="{% static 'css/ribbon.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
  <div class="page-header">
      {% if user.username %}
    <a href="{% url 'write' %}" class="btn btn-primary pull-right">
      <span class="glyphicon glyphicon-pencil"></span> {% trans 'Write Announcement' %}
    </a>
    <a href="{% url 'drafts' %}" class="btn btn-default pull-right" style="margin-right: .8em">{% trans 'Drafts' %}</a>
      {% endif %}
    <h1>{% trans 'Announcements' %}</h1>
  </div>
  <div class="row">
    <div class="col-md-10">
      <section class="articles">
        {% for announcement in announcements %}
          {% include 'announcement/partial_announcement.html' with announcement=announcement %}
        {% empty %}
          <h4 class="no-data">{% trans 'There is no published announcement yet' %}. <a href="{% url 'write' %}">{% trans 'Be the first one to publish' %}!</a></h4>
        {% endfor %}
      </section>
    </div>
    <div class="col-md-2 popular-tags">
      <h4>{% trans 'Popular Tags' %}</h4>
      {% for tag, count in popular_tags %}
        <a href="{% url 'tag' tag %}"><span class="label label-default">{{ count }} {{ tag }}</span></a>
      {% endfor %}
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {% include 'paginator.html' with paginator=announcements %}
    </div>
  </div>
{% endblock main %}
