{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
  <script src="{% static 'js/announcement.js' %}"></script>
{% endblock head %}

{% block main %}
  <ol class="breadcrumb">
    <li><a href="{% url 'announcement' %}">{% trans 'Announcement' %}</a></li>
      {% if user.username %}
    <li class="active">{% trans 'Drafts' %}</li>
  {% endif %}
  </ol>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>{% trans 'Title' %}</th>
        <th>{% trans 'Content' %}</th>
        <th>{% trans 'Tags' %}</th>
      </tr>
    </thead>
    <tbody>
      {% for announcement in drafts %}
        <tr>
          <td><a href="{% url 'edit_announcement' announcement.pk %}">{{ announcement.title }}</a></td>
          <td>{{ announcement.get_summary_as_markdown|safe }}</td>
          <td>
            {% for tag in announcement.get_tags %}
              <span class="label label-default">{{ tag }}</span>
            {% endfor %}
          </td>
        </tr>
      {% empty %}
        <tr>
          <td colspan="4" style="text-align: center">
            {% trans 'No draft to display' %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock main %}
