{% load i18n %}
<ol class="breadcrumb">
            <p class="lead">{% trans 'Gallery' %}</p>
            <div class="row">
                <div class='list-group gallery'>
                    {% for gallery_image in gallery_images %}
                        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                            <a class="thumbnail fancybox" rel="ligthbox" href="{{ gallery_image.attachment.url }}">
                                <img class="img-responsive" width="240" src="{{ gallery_image.attachment.url }}"/>
                            </a>
                            <a href="{% url "delete_gallery_image" form.instance.pk gallery_image.id %}">
                                <button type="button" class="btn btn-danger  pull-right">
                                    <span><span
                                            class="glyphicon glyphicon-remove-sign"></span> {% trans 'Remove' %}</span>
                                </button>
                            </a>

                        </div>
                    {% endfor %}
                    </div> <!-- list-group / end -->
            </div> <!-- row / end -->
        </ol>