{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}

{% block head %}
    <script src="{% static 'js/announcement.js' %}"></script>
    <link href="{% static 'css/announcement.css' %}" rel="stylesheet">
{% endblock head %}

{% block main %}
    <ol class="breadcrumb">
        <li><a href="{% url 'announcement' %}">{% trans 'Announcement' %}</a></li>
        {% if user.username %}
            <li><a href="{% url 'drafts' %}">{% trans 'Drafts' %}</a></li>
        {% endif %}
        <li class="active">{% trans 'Edit' %}</li>
    </ol>
    <form action="{% url 'edit_announcement' form.instance.pk %}" method="post" enctype="multipart/form-data"
          role="form">
        {% csrf_token %}
        {{ form.status }}
        {% for field in form.visible_fields %}
            <div class="form-group{% if field.errors %} has-error{% endif %}">
                <label for="{{ field.label }}" class="control-label">{{ field.label }}</label>
                {% if field.label == 'Content' %}
                    {% include 'markdown_editor.html' with textarea='id_content' %}
                {% endif %}
                {% if field.name == 'gallery_images' %}
                    {% include 'announcement/edit_gallery.html' with form=form gallery_image=gallery_image %}
                {% endif %}
                {{ field }}
                {% if field.help_text %}
                    <span class="help-block">{{ field.help_text }}</span>
                {% endif %}
                {% for error in field.errors %}
                    <label class="control-label">{{ error }}</label>
                {% endfor %}
            </div>
        {% endfor %}
        <div class="form-group">
            <button type="button" class="btn btn-primary publish">{% trans 'Publish' %}</button>
            <button type="button" class="btn btn-default draft">{% trans 'Save Draft' %}</button>
            <a href="{% url 'drafts' %}" class="btn btn-default">{% trans 'Cancel' %}</a>
        </div>
    </form>
{% endblock main %}
