{% load i18n %}
<hr>
<span class="pull-right text-muted" id="comment-helper" style="display: none"><small>{% trans 'Press Ctrl + Enter to post' %}</small></span>
<h4><span class="comment-count">{{ announcement.get_comments.count }}</span> {% trans 'Comments' %}</h4>
<div class="post-comment clearfix">
    {% if user.username %}
  <form role="form" id="comment-form">
    {% csrf_token %}
    <input type="hidden" name="announcement" value="{{ announcement.pk }}">
    <div class="user-portrait clearfix">
      <img src="{{ user.profile.get_picture }}">
    </div>
    <div class="comment-input clearfix">
      <textarea class="form-control" rows="1" placeholder="{% trans 'Write a comment...' %}" name="comment" id="comment"></textarea>
    </div>
  </form>
    {% endif %}
</div>
<div class="well well-sm" id="comment-list">
  {% for comment in announcement.get_comments %}
    {% include 'announcement/partial_announcement_comment.html' with comment=comment %}
  {% empty %}
    <div style="padding: .6em 0">{% trans 'Be the first one to comment!' %}</div>
  {% endfor %}
</div>