{% load i18n %}
{% load static %}
{% block head %}
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
{% endblock head %}
<div class="content">
    <ol class="breadcrumb">
        <p class="lead">{% trans 'Utilities' %}</p>
        <ul class="list-unstyled" style="line-height: 2">

            {% if utilities.internet_included %}
                <li><span class="fa fa-check text-success"></span> {% trans 'Internet included' %}</li>
            {% else %}
                <li><span class="fa fa-times text-danger"></span> {% trans 'Internet included' %}</li>
            {% endif %}

            {% if utilities.disabled_utilities %}
                <li><span class="fa fa-check text-success"></span> {% trans 'Utilities for disabled' %}</li>
            {% else %}
                <li><span class="fa fa-times text-danger"></span> {% trans 'Utilities for disabled' %}</li>
            {% endif %}

            {% if utilities.lift %}
                <li><span class="fa fa-check text-success"></span> {% trans 'Lift' %}</li>
            {% else %}
                <li><span class="fa fa-times text-danger"></span> {% trans 'Lift' %}</li>
            {% endif %}

            {% if utilities.room_shared %}
                <li><span class="fa fa-check text-success"></span> {% trans 'Shared room' %}</li>
            {% else %}
                <li><span class="fa fa-times text-danger"></span> {% trans 'Shared room' %}</li>
            {% endif %}

            {% if utilities.balcony %}
                <li><span class="fa fa-check text-success"></span> {% trans 'Balcony' %}</li>
            {% else %}
                <li><span class="fa fa-times text-danger"></span> {% trans 'Balcony' %}</li>
            {% endif %}


        </ul>

    </ol>
</div>