{% load i18n %}
<article>
    <ol class="breadcrumb">

        {% if announcement.image %}
            <div class="wrapper">
                <a href="{% url 'announcement' announcement.slug %}">
                    <div class="ribbon-wrapper-green">
                        <div class="ribbon-green">{{ announcement.price }} PLN</div>
                    </div>

                    <img src="{{ announcement.image.url }}"
                         style="margin-right: 20px; padding-left: 5px; padding-top: 5px"
                         width="250" height="150">
                </a>
            </div>​

        {% endif %}

        <h2><a href="{% url 'announcement' announcement.slug %}">{{ announcement.title }}</a></h2>
        <div class="wrapper-1">
            <div class="info">
    <span class="date">
      <span class="glyphicon glyphicon-calendar"></span>
      {{ announcement.create_date }}
    </span>
                <span class="user">
      <a href="{% url 'profile' announcement.create_user.username %}"><img
              src="{{ announcement.create_user.profile.get_picture }}"></a>
      <a href="{% url 'profile' announcement.create_user.username %}">{{ announcement.create_user.profile.get_screen_name }}</a>
    </span>

                <span class="comments">
      <span class="glyphicon glyphicon-comment"></span>
      {{ announcement.get_comments.count }} Comments
    </span>
            </div>

            <div class="content">
                {{ announcement.get_content_as_markdown|safe }}
            </div>
        </div>
        {% if announcement.get_tags %}
            <div class="tags">
                {% for tag in announcement.get_tags %}
                    <a href="{% url 'tag' tag.tag %}"><span class="label label-default">{{ tag }}</span></a>
                {% endfor %}
            </div>
        {% endif %}
    </ol>

    {% if gallery_images %}

        </br>
        <ol class="breadcrumb">
            <p class="lead">{% trans 'Gallery' %}</p>
            <div class="row">
                <div class='list-group gallery'>
                    {% for gallery_image in gallery_images %}
                        <div class='col-sm-4 col-xs-6 col-md-3 col-lg-3'>
                            <a class="thumbnail fancybox" rel="ligthbox" href="{{ gallery_image.attachment.url }}">
                                <img class="img-responsive" width="240" src="{{ gallery_image.attachment.url }}"/>
                            </a>
                        </div>
                    {% endfor %}
                    </div> <!-- list-group / end -->
            </div> <!-- row / end -->
        </ol>
    {% endif %}
</article>