
.cover {
  width: 400px;
  height: 400px;
  position: fixed;
  margin-left: -200px;
  margin-top: -200px;
  top: 50%;
  left: 50%;
}

.logo {
  margin: 0;
  font-size: 3em;
  font-weight: 200;
  font-family: "Audiowide", cursive;
  color: #92c35e;
  text-align: center;
  text-shadow: 1px 1px 0 #333333;
  line-height: 70px;
}

.login {
  background-color: #f6f6f6;
  width: 100%;
  height: 330px;
  border-radius: 7px;
}

.login {
  padding: 10px 20px;
}

.login form {
  margin-top: 20px;
}

.btn-facebook {
    color: #fff;
    background-color: #3b5998;
    border-color: rgba(0,0,0,0.2);
}
.btn-social {
    position: relative;
    padding-left: 44px;
    text-align: left;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.btn-block {
    display: block;
    width: 100%;
}